.countdownButton{
    width: 100%;
    height: 5rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border:0;
    border-radius: 5px;
    background: var(--blue);
    color: var(--white);
    font-weight: 600;
    transition: background-color 0.2s;

}

.countdownButton:not(:disabled):hover {
    background: var(--blue-dark);
}


.countdownButtonActive {
    background: var(--white);
    color:var(--title);
}

.countdownButtonActive:hover {
    background: var(--red);
    color:var(--white)
}

.countdownButton:disabled{
    background: var(--white);
    color: var(--text);
    cursor:not-allowed;

}
